/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-mar-2018, 15.19.40
    Author     : Uberti Davide
*/
html {
  position: relative;
  min-height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #CE93D8;
    margin-bottom: 60px;
    background-image: url(../images/cubetwo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.purple{
    background-color: #7B1FA2;
    color: #CE93D8;
}

.card-img-top{
    height: 10em;
}

.card{
    height: 100%;
}

.lightpurple{
    background-color: #CE93D8;
    color: #7B1FA2;
}

.img-carousel{
    height: 100%;
}

.up{
    box-shadow: 10px 10px 18px black;
}

.underline{
    background-color: #7B1FA2;
    color: #CE93D8;
    border-radius: 20em;
}

.central{
    background-color: #BA68C8;
    border-left: 8em solid #BA68C8;
    border-right: 8em solid #BA68C8;
    border-radius: 2em;
}

.card-img{
    height: 100%;
}

.card-img-overlay{
    opacity: 1;
    background-color: rgba(103,58,183,0.5);
    height: 100%;
    color: black; 
}

.card-img-overlay:hover{
    opacity: 0;
}

.modal-body{
    background-color: #673AB7;
}

.modal-header{
    background-color: #7B1FA2;
    color: #CE93D8;
}

.modal-footer{
    background-color: #7B1FA2;
}

.icona{
    width: 64px;
    height: 64px;
    border: 0.1em solid black;
    border-radius: 0.3em;
}