/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-mar-2018, 15.19.40
    Author     : Uberti Davide
*/

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    background-color: #7B1FA2;
}

